In [3]:
#salary from hours per day
days = (input("enter no of days ")).split()
per_hour_wage = int(input("enter per hour wage "))
sum = 0
for day in days:
    sum+= int(day)
print("salary for week is" , sum*per_hour_wage)

enter no of days  1 2 3 4 5
enter per hour wage  10

salary for week is 150

In [9]:
hrs = [int(x) for x in input("enter hours per day seperated by comma").split()]
per = 70
total_hrs = sum(hrs)
print("salary for week is" , per*int(total_hrs))

enter hours per day seperated by comma 2 3 4

TypeError: 'int' object is not callable

In [41]:
original_list = [1, 2, 2, 3, 4, 4, 5]

i = 0
while i < len(original_list):
    j = i + 1
    while j < len(original_list):
        if original_list[j] == original_list[i]:
            del original_list[j]
        else:
            j += 1
    i += 1

print(original_list)

[1, 2, 3, 4, 5]

In [40]:
l = [int(x) for x in input("enter no with spaces ").split()]
while (i<len(l)):
    while(j <len(l)):
        if(l[j] == l[i]):
            del l[j]
        else:
            j+=1
        
    i+=1
l

enter no with spaces  2 3 3 2

[2, 3, 3, 2]

In [43]:
l = [int(x) for x in input("enter no with spaces ").split()]
no = ""
for i in l:
    s = str(i)
    no+= s
int(no)
no

enter no with spaces  2 3 4 32

'23432'

In [45]:
# overlapping elements
l1 =  [int(x) for x in input("enter no with spaces ").split()]
l2 =  [int(x) for x in input("enter no with spaces ").split()]
l3 = []
for i in l1:
    if i in l2:
        l3.append(i)
l3

enter no with spaces  2 3 4 5
enter no with spaces  2 4 5 6

[2, 4, 5]

In [51]:
#transpose of a matrix
l = [[1,2,3], [4,5,6] , [7,8,9]]
at = []
for i in range(len(l)):
    s = []
    for j in range(len(l[0])):
        s.append(l[j][i])
    at.append(s)
at

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

In [54]:
# occurence of letter
l = ["a" , 'b' , 'c' , 'a' , 'b' , 'a' , 'd']
x = []
for i in l:
    if i in x:
        continue
    x.extend([i, l.count(i)])
x

['a', 3, 'b', 2, 'c', 1, 'd', 1]

In [56]:
# starting letter match
lis= ["pizza" , "burger" , "pasta" , "sandwich"]
l = input("enter a letter ")
for x in lis:
    if x[0]== l:
        print(x)

enter a letter  p

pizza
pasta

In [58]:
lis= ["pizza" , "burger" , "pasta" , "sandwich"]
l = input("enter a letter ")
for x in lis:
    if x.startswith(l):
        print(x)

enter a letter  p

pizza
pasta